.cards:nth-child(even){
    flex-direction: row-reverse;
}

.cards:nth-child(even) .cardInfo{
    text-align: right;
}
.cards:nth-child(even) * {
    justify-content: flex-end;
}
.imgWrapper{
    z-index: -1;
}
.cards:nth-child(odd) .imgWrapper {
    right: 0;
}
.cards:nth-child(even) .imgWrapper {
    left: 0;
}
.card:hover .imgWrapper::after{
    background-color: rgba(0, 0, 0, 0.1);
}
.imgWrapper::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 768px) {
    .imgWrapper::after{
        background-color: rgba(0, 0, 0, 0.7);
        opacity: 1 !important;
    }
    .cardInfo{
        padding: 0 1rem;
    }
}
